.project_wp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ui {
    width: 40%;

    img {
        width: 100%;
    }
}

.project_left {
    color: rgb(255, 255, 255);
    width: 54%;

    h2 {
        color: rgb(255, 255, 255);
        font-family: 'Roboto Slab', sans-serif;
        font-size: 24px;
        font-weight: 300;
        line-height: 32px;
        letter-spacing: 0%;
        text-transform: uppercase;
    }

    .title {
        white-space: nowrap;
        color: rgb(255, 255, 255);
        font-family: 'Source Sans Pro', sans-serif;
        margin-top: 21px;
        font-size: 36px;
        font-weight: 700;
        line-height: 54px;
        letter-spacing: 0%;
        text-transform: uppercase;
    }

    .description {
        padding-top: 21px;
        text-align: left;
        color: rgb(255, 255, 255);
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 121%;
        letter-spacing: 0%;
    }
}


.wp_vectors {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
}


.vect_blocks {
    display: flex;
    flex-direction: column;

    div {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        p {
            padding-left: 20px;
            font-family: 'Poppins', sans-serif;
            color: rgb(255, 255, 255);
            font-size: 20px;
            font-weight: 400;
            line-height: 121%;
            letter-spacing: 0%;
            text-align: left;
        }

        .vect1 {
            width: 22px;
            height: 22px;
        }

        .vect2 {
            width: 20px;
            height: 16px;
        }

        .vect5 {
            width: 18px;
            height: 18px;
        }

        .vect6 {
            width: 20px;
            height: 20px;
        }

    }
}



@media(max-width:1024px) {
    .project_wp {
        display: flex;
        flex-direction: column;
    }

    .project_wp .project_left {
        width: 100%;
    }

    .project_wp .ui {
        width: 70%;
        margin-top: 10px;
    }
}