.ServiceHome {
    margin: 20px 0;
    position: relative;

    .orangeCircle {
        position: absolute;
        right: 0;
        top: 440px;
    }

    .greenCircle {
        position: absolute;
        left: 0;
        top: 1340px;
    }
}