.title {
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.ellipse_top {
    margin: 145px 0 10px 19px;
}