.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 366px;
  height: 587px;
  gap: 25px;
  position: relative;
}

.card img {
  width: 340px;
  height: 392px;

}

.position {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5); // пример фона для текста
  color: #fff;
  padding: 5px 10px;
  font-size: 18px;
}

h6 {

  height: 35px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}

p{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #CECCCD;
}

.card_socials{

  display: flex;
  width: 130px;
  height: 23px;
  gap: 29px;
}

.card_socials img {
  width: 23px;
  height: 18px;

}