@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


.bg {
    background: url('../../Assets/image/Ramilya/bgHome.png') center / cover no-repeat;
    object-position: center;
    height: 70vh;
    position: relative;


    .RightTile {
        position: absolute;
        right: 0px;
        bottom: -160px;
        width: 65%;

        img {
            width: 100%;
        }
    }
}

.lior_text {
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 126%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.BgWhite {
    max-width: 1920px;
    background-color: #fff;
    height: 150px;
}

.BgBox {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 70vh;


    .LeftTitle {
        width: 50%;

        .lior_text {
            font-family: "Source Sans 3", sans-serif;
            color: rgb(255, 255, 255);
            font-size: 44px;
            font-weight: 700;
            line-height: 126%;
            letter-spacing: 6%;
            text-transform: uppercase;
        }

    }

}


.btn_header {
    margin-top: 45px;
    width: 249px;
    height: 51px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 0px rgba(230, 161, 75, 0.4);
    background: rgb(230, 161, 75);
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width:1440px) {
    .bg .BgBox {
        width: 86.1%;
    }

    .bg .BgBox .LeftTitle {
        width: 100%;
    }

    .bg .BgBox .LeftTitle .lior_text {
        font-size: 40px;
        width: 60%;
    }
}

@media (max-width:960px) {
    .lior_text {
        font-size: 40px;
    }
}