.wrapper {
    // display: flex;
    // justify-content: space-between;
}

.review_card {
    width: 390px;
    height: 285px;
    border-radius: 20px;
    fill: linear-gradient(180deg, #353537 39.76%, rgba(53, 53, 55, 0) 100%);
    backdrop-filter: blur(13.88349437713623px);
}

.review_description {
    padding: 53px 26px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 148%;
    color: #d1d0ca;
}

.review_bottom {
    padding: 41px 26px;
    display: flex;
    gap: 115px;
}